@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>COSC 3380 - Team 6 Project</h1>
    <p class="lead">We need a better title guys...</p>
    <p><a href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application" class="btn btn-primary btn-large">Click on this button to go to the tutorial</a></p>
</div>
