
@{
    ViewBag.Title = "Home Page";
}

<br />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="~/Content/signInPageStyle.css" rel="stylesheet" />

<div style="font-family:verdana;padding:10px;border-radius:10px;border:3px solid #ff0000;">
    <img src="http://www.coe.uh.edu/current-students/technology-services/logo-page/logos2012/uh-yatp-oneline.png" width="1110" height="150">
</div>


<div style="font-family: verdana; padding: 10px; border-radius: 10px; border: 1px solid #8f9da3;">
    <h1 style="font-family:'Lucida Console'; color: #9ba2a5; text-align: center;"><b>UMA COUNTY PRECINCT 1</b></h1>
</div>

<img style="float:right;" src="http://upload.wikimedia.org/wikipedia/en/f/f4/University_of_Houston_Police_Department_Badge.png" width="350" height="350">
<br />
<br />

<div style="float: left; padding-left:1em">
    <pre style="font-size:25px ; font-family:'Times New Roman';background:grey;"><b style="color:#f5f2f2;">Welcome to University of Houston Uma County Precinct 1 Homepage</b>
      <small style="color: #f5f2f2;">Uma county officers can:
           - View all Uma county officers' information.
           - View, add, and edit criminals.
           - View crime reports.
           - Search officers, criminals, and crime report.
           - Create own crime report.
           - Edit personal information.</small></pre>
</div>


<div class="row">
    <form class="form-horizontal" role="form">
    </form>
</div>